{% extends 'base.html' %}
{% load static %}

{% block title %}
    Edit Profile
{% endblock %}


{% block content %}

    <div class="edit-profile-content-strip">

        <div class="edit-profile-content-wrap">

            <!-- Card that contains a picture and the form -->
            <div class="card edit-profile-card" style="width: 22rem;">
            <h2 class="edit-profile-card-header">Edit profile form</h2>

                <div class="photo-container">
                    {% if object.profile_picture.url != None %}
                    <img class="profile-image" src="{{ object.profile_picture.url }}" class="card-img-top" alt="photo">
                        {% else %}
{#                    <img class="profile-image" src="{{ object.profile_picture.url }}" class="card-img-top" alt="photo">#}
                        <img class="profile-image" src="{% static 'images/pngs/default-user.png' %}" class="card-img-top" alt="photo">
                    {% endif %}
                </div>

                <div class="card-body">
                <h5 class="card-title">@{{ object }}</h5>


                    <!-- Form starts from here -->
                    <form action="{% url 'profile edit' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}


                    <!-- File input -->
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Change Photo</label>
                        <input class="form-control" type="file" id="formFile" name="{{ form.profile_picture.name }}"
                                accept="image/*">
                    </div>

                    <div class="form-floating mb-3">
                        <label for="floatingInput" class="form-label">Username</label>
                        <input type="text" class="form-control" id="floatingInput" name="{{ form.username.name }}"
                               placeholder="Enter your username"
                               value="{% if object.username != None %} {{ object.username }}{% endif %}">
                        <p>{{ form.errors.username }}</p>
                    </div>

                    <div class="form-floating mb-3">
                        <label for="floatingInput" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="floatingInput" name="{{ form.first_name.name }}"
                               placeholder="Enter your first name"
                               value="{% if object.first_name != None %} {{ object.first_name }}{% endif %}">
                        <p>{{ form.errors.first_name }}</p>
                    </div>

                    <div class="form-floating mb-3">
                        <label for="floatingInput" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="floatingInput" name="{{ form.last_name.name }}"
                               placeholder="Enter your last name"
                               value="{% if object.last_name != None %} {{ object.last_name }}{% endif %}">
                        <p>{{ form.errors.last_name }}</p>
                    </div>

                    <div class="form-floating mb-3">
                        <label for="GenderSelect">Gender:</label>
                        <select class="form-control" aria-label="Gender" name="{{ form.gender.name }}"
                                name="{{ form.gender.name }}" id="GenderSelect">
                            {% for value, label in form.gender.field.choices %}
                                <option value="{{ value }}" {% if value == object.gender %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-floating mb-3">
                        <label for="DateInput">Date Of birth</label>
                        <input type="date" class="form-control"id="DateInput" name="{{ form.date_of_birth.name }}"
                               {% if form.instance.date_of_birth %} value="{{ form.instance.date_of_birth|date:'Y-m-d' }}" {% endif %}>
                        <p>{{ form.errors.date_of_birth }}</p>
                    </div>

                    <div class="button-div">
                        <button type="submit" class="btn btn-dark">Save Changes</button>
                        <!-- TODO when cancel go back to wherever you came from, META/HTTPS/REFERER -->
                        <a href="{% url 'home' %}" id="btn-cancel" class="btn btn-danger">Cancel</a>
                    </div>

                    </form>

                </div>
            </div>


        </div>
    </div>

{% endblock %}

