{% extends 'base.html' %}
{% load static %}

{% block title %}
    Edit Business Profile
{% endblock %}


{% block content %}

    <div class="edit-business-profile-content-strip">

        <div class="edit-business-profile-content-wrap">

            <!-- From Here -->
            <!-- Card that contains a picture and the form -->
            <div class="card edit-business-profile-card">
                <img class="card-img-top" alt="photo"
                     src="{% if object.business_logo %}{{ object.business_logo }}{% else %}{% static 'images/pngs/open-for-business.jpg' %}{% endif %}">
                <div class="card-body">
                    <h5 class="card-title">{{ object.user.profile.get_name }}</h5>

                    <!-- Form starts from here -->
                    <form action="{% url 'business profile edit' %}" method="POST">
                    {% csrf_token %}

                    <!-- URL input -->
                    <div class="mb-3">
                        <label for="id_{{ form.business_logo.name }}">Business logo:</label>
                        <input class="form-control" type="url"
                                name="{{ form.business_logo.name }}" maxlength="220" id="id_{{ form.business_logo.name }}"
                                value="{% if object.business_logo %}{{ object.business_logo }}{% endif %}"
                                placeholder="https://...">
                        <p>{{ form.errors.business_logo }}</p>
                    </div>

                    <!-- Business name input -->
                    <div class="form-floating mb-3">
                        <label  for="id_{{ form.business_name.name }}">Business name:</label>
                        <input  class="form-control" type="text" name="{{ form.business_name.name }}"
                                id="id_{{ form.business_name.name }}" placeholder="Business Name"
                                maxlength="120"
                                value="{% if object.business_name %}{{ object.business_name }} {% endif %}">
                        <p>{{ form.errors.business_name }}</p>
                    </div>

                    <!-- Country of business input -->
                    <div class="form-floating mb-3">
                        <label  for="id_{{ form.country.name }}">Country:</label>
                        <input  class="form-control" type="text" name="{{ form.country.name }}"
                                id="id_{{ form.country.name }}" placeholder="Country"
                                maxlength="50"
                                value="{% if object.country %}{{ object.country }} {% endif %}">
                        <p>{{ form.errors.country }}</p>
                    </div>

                    <!-- City of business input -->
                    <div class="form-floating mb-3">
                        <label  for="id_{{ form.country.name }}">City:</label>
                        <input  class="form-control" type="text" name="{{ form.city.name }}"
                                id="id_{{ form.city.name }}" placeholder="City"
                                maxlength="50"
                                value="{% if object.city %}{{ object.city }} {% endif %}">
                        <p>{{ form.errors.city }}</p>
                    </div>

                    <!-- Address Line -->
                    <div class="form-floating mb-3">
                        <label  for="id_{{ form.address_line.name }}">Address:</label>
                        <textarea  class="form-control"  name="{{ form.address_line.name }}"
                                    id="id_{{ form.address_line.name }}"
                                    placeholder="{% if object.address_line != None %}{{ object.address_line }}{% else %}Address Line{% endif %}"
                                    maxlength="120">{% if object.address_line != None %}{{ object.address_line }}{% endif %}</textarea>
                                    <!-- The tag has to close straight after, because it adds blank spaces to the end -->
                        <p>{{ form.errors.address_line }}</p>
                    </div>

                    <!-- POSTCODE of business input -->
                    <div class="form-floating mb-3">
                        <label  for="id_{{ form.postcode.name }}">Postcode:</label>
                        <input  class="form-control" type="text" name="{{ form.postcode.name }}"
                                id="id_{{ form.postcode.name }}" placeholder="Postcode"
                                maxlength="50"
                                value="{% if object.postcode %}{{ object.postcode }} {% endif %}">
                        <p>{{ form.errors.postcode }}</p>
                    </div>

                    <!-- Business Description -->
                    <div class="form-floating mb-3">
                        <label  for="id_{{ form.description.name }}">Description:</label>
                        <textarea  class="form-control"  name="{{ form.description.name }}"
                                    id="id_{{ form.description.name }}"
                                    placeholder="{% if object.description != None %}{{ object.description }}{% else %}Description{% endif %}"
                                    maxlength="240">{% if object.description != None %}{{ object.description }}{% endif %}</textarea>
                                    <!-- The tag has to close straight after, because it adds blank spaces to the end -->
                        <p>{{ form.errors.description }}</p>
                    </div>


                    <div class="button-div">
                        <button type="submit" class="btn btn-dark">Save Changes</button>
                        <a href="{% url 'profile details' object.pk %}" id="btn-cancel" class="btn btn-danger">Cancel</a>
                    </div>

                    </form>

                </div>
            </div>

            <!-- Until here -->



        </div>

    </div>

{% endblock %}
