{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="login-content-strip">

        <div class="login-content-wrap">

            <form class="login-form" action="{% url 'login' %}" method="POST">
                <h2 class="form-header">Login Form</h2>
                {% csrf_token %}
                {{ form.as_p }}
                {{ errors }}
                <br>
                <div class="button-div">
                    <button class="btn btn-light" type="submit">Login</button>
                </div>
                <br>
                <br>
                <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            </form>

        </div>

    </div>

{% endblock %}