{% load static %}

<div class="navbar-wrapper">

    <div class="navbar-content-wrapper">

        <div class="nav-logo-div">
            <a href="{% url 'home' %}"><img class="logo" src="{% static 'images/logos/REVIEWEE-transparent.png' %}" alt="Logo"></a>
            <p>Reviewee</p>
        </div>

        <div class="nav-profile-div">

            <div class="nav-links-div">
                <ul class="nav-ul">
                    <li class="nav-li"><a href="{% url 'find booking' %}">BOOKING</a></li>
                    <li class="nav-li"><a href="{% url 'home' %}">HOME</a></li>

                    {% if request.user.profile.is_owner %}
                        <li class="nav-li toggle-display-600-off"><a href="{% url 'place add' %}">ADD PLACE</a></li>
                    {% endif %}
                </ul>
            </div>

            <!-- Drop Down Button Starts -->
            <div class="dropdown">

              <button class="btn btn-outline-dark dropdown-toggle expand-profile-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                  {% if request.user.is_authenticated and request.user.profile.profile_picture.url is not None  %}
                    <img class="profile-pic" src="{{ request.user.profile.profile_picture.url }}" alt="photo">
                  {% else %}
                      <img class="profile-pic" src="{% static 'images/pngs/user-profile.png' %}" alt="def photo">
                  {% endif %}
                  <span class="profile-info-span">{{ request.user.profile.get_name }}</span>
              </button>


              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <h6 class="dropdown-header">Actions</h6>
                  <a class="dropdown-item" href="{% url 'profile details' request.user.pk %}">Profile info</a>
                  <a class="dropdown-item" href="{% url 'user favourite places' %}">Favourites</a>
                  <!--  if an owner then can access my places -->
                  {% if request.user.profile.is_owner %}
                    <a class="dropdown-item" href="{% url 'profile details' request.user.pk %}#owner-places">My places</a>
                    <a class="dropdown-item toggle-display-600-on" href="{% url 'place add' %}">Add place</a>
                  {% endif %}
                  <!-- JS for this part for the button drop-down -->
                  <button class="dropdown-item dropdown-item-logout">Logout</button>
                  <form action="{% url 'logout' %}" method="POST" class="dropdown-item dropdown-item-logout-link" style="display: none;">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger" id="confirm-logout">Confirm</button>
                  </form>

              </div>
            </div>
            <!-- Drop Down Button Ends -->
        </div>
    </div>
</div>

<!-- Confirmation button visibility script -->
<script src="{% static 'js/logout-dropdown.js' %}"></script>
