{% extends 'base.html' %}
{% load static %}

{% block title %}
    Notifications
{% endblock %}


{% block content %}

    <div class="profile-details-content-strip mg-top more">

        <div class="profile-details-content-wrap">

            <!-- Profile card starts -->
            <div class="card profile-card no-show-under-600px" style="width: 22rem;">
                <!-- top blue container -->
                <div class="top-card-container">
                    <div class="username-container">
                        <p class="card-text">{{ object.profile.get_name }}</p>
                    </div>
                    {% if request.user.pk == object.pk %}
                    <div class="profile-options-container">
                        <a href="{% url 'profile edit' %}"><img class="edit-profile-png" src="{% static 'images/pngs/edit.png' %}" alt="edit"></a>
                        <a href="{% url 'profile delete' %}"><img class="delete-profile-png" src="{% static 'images/pngs/delete.png' %}" alt="del"></a>
                    </div>
                    {% endif %}
                </div>

                {% if object.profile.profile_picture.url != None %}
                    <img src="{{ object.profile.profile_picture.url }}" class="card-img-top" alt="photo">
                {% else %}
                    <img src="{% static 'images/pngs/default-user.png' %}" class="card-img-top" alt="default user">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ object.profile.get_name }}</h5>
                    <p class="card-text">This profile is a {% if object.profile.is_owner %}business owner{% else %}regular user{% endif %}</p>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>First Name:</strong> {% if object.profile.first_name %}{{ object.profile.first_name }}{% else %}Annonymous{% endif %}
                    </li>
                    <li class="list-group-item">
                        <strong>Last Name:</strong> {% if object.profile.last_name %}{{ object.profile.last_name }}{% else %}Annonymous{% endif %}
                    </li>
                    <li class="list-group-item">
                        <strong>Date of Birth:</strong> {% if object.profile.date_of_birth %}{{ object.profile.date_of_birth }}{% else %}Annonymous{% endif %}
                    </li>
                    <li class="list-group-item">
                        <strong>Gender:</strong> {% if object.profile.gender %}{{ object.profile.gender }}{% else %}Annonymous{% endif %}
                    </li>
                </ul>

                <div class="card-body">
                    <p class="card-text">User since: {{ object.date_joined|date:"M/d/Y" }}</p>
                    {% if request.user.is_authenticated and request.user.pk == object.pk %}
                        <p class="card-text"><a href="{% url 'password change' %}">Change Password</a></p>
                    {% endif %}
                </div>
            </div>
        <!-- Profile card ends -->

        <!-- Profile Notifications container starts here -->
            <div class="profile-notifications-container">

                <form class="filter-notifications-form" action="{% url 'notifications' %}">

                    <select id="filter-notifications-options" class="form-control filter-options-box" name="filter" >
                            <option {% if filter == 'All' %} selected {% endif %} value="All">All Notifications</option>
                            <option {% if filter == 'Likes' %} selected {% endif %} value="Likes">Likes Notifications</option>
                            <option {% if filter == 'Bookings' %} selected {% endif %} value="Bookings">Bookings Notifications</option>
                            <option {% if filter == 'Reviews' %} selected {% endif %} value="Reviews">Reviews Notifications</option>
                            <option {% if filter == 'Account' %} selected {% endif %} value="Account">Account Notifications</option>
                    </select>
                    <button class="btn btn-btn-light filter-notifications-button">Filter</button>
                </form>


                {% for notification in object_list %}
                    <div class="notification-div">
                        <div class="notification-checkbox-div">
                            <img id="notificationCheckbox{{notification.pk }}" src="
                            {% if notification.read %}
                              {% static 'images/pngs/unchecked-box.png' %}
                            {% else %}
                              {% static 'images/pngs/checked-box.png' %}
                            {% endif %}
                              " alt="" width="20px">
                        </div>

                        <div class="notification-content-div">

                            <div class="notification-image-text-div">
                                <a href="{% url 'profile details' notification.notification_from_user.pk %}">
                                <img class="notification-image" src="{% if notification.notification_from_user.profile.profile_picture.url != None %}
                                            {{ notification.notification_from_user.profile.profile_picture.url }}
                                          {% else %}
                                            {% static 'images/pngs/default-user.png' %}
                                          {% endif %}"
                                     alt="">
                                </a>

                                <!-- This will be wrapped in <a> tag so when clicked will go to the comment -->
                                <a class="notification-link"
                                   {% if notification.url_sufix %}
                                        href="{{ notification.url_sufix }}"
                                   {% else %}
                                        href="#"
                                   {% endif %}>
                                  <p>
                                    {{ notification.text }}
                                  </p>
                                </a>
                            </div>

                                <div class="notification-created-at-mark-read">
                                    <p>
                                        <small class="created-at-style">Created at: {{ notification.created_at|time:"h:i a" }}, {{ notification.created_at|date:"d-m-Y" }}</small>
                                    </p>
                                    <p><a href="#" class="mark-read-link" id="mark-read-link{{ notification.pk }}" notification-pk="{{ notification.pk }}">
                                        <small id="notificationReadUnread{{ notification.pk }}">{% if notification.read %}Mark read{% else %}Mark unread{% endif %}</small>
                                    </a></p>


                                </div>

                        </div>

                    </div>
                {% endfor %}

            </div>


        <!-- Profile Notifications container ends here -->

        </div>
    </div>



{#    Some magic here    #}
    <!-- JS to send API request to toggle-read notification and to change image for checked/unchecked -->
<script>
    {% for notification in object_list %}
document.addEventListener('DOMContentLoaded', function() {
  // Get the elements
  let markReadLink = document.getElementById('mark-read-link{{ notification.pk }}');
  let notificationCheckbox = document.getElementById('notificationCheckbox{{ notification.pk }}');
  let notificationReadUnread = document.getElementById('notificationReadUnread{{ notification.pk }}');
  let notificationId = {{ notification.pk }};
  let csrfToken = "{{ csrf_token }}";

  markReadLink.addEventListener('click', function(event) {
    event.preventDefault();

    if (notificationCheckbox.getAttribute('src').includes('unchecked')) {
      notificationCheckbox.setAttribute('src', '{% static 'images/pngs/checked-box.png' %}');
    } else {
      notificationCheckbox.setAttribute('src', '{% static 'images/pngs/unchecked-box.png' %}');
    }

    if (notificationReadUnread.textContent.includes('unread')) {
        notificationReadUnread.textContent = 'Mark read';
    } else {
        notificationReadUnread.textContent = 'Mark unread';
    }

    fetch('{% url "api-toggle-read" notification.pk %}', {
        method: 'put',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken,
        },
        body: JSON.stringify({
          notification_id: notificationId
        })
      })
      .then(response => {

      })
      .catch(error => {
        console.error('Error toggling read status:', error);
      });
  });
});
    {% endfor %}
</script>
    <!-- read JS ends here -->




{% endblock %}
