@import "../colors.css";

.navbar-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--main-color);
    padding: 10px;
    max-height: 180px;
}

.navbar-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1300px;
    width: 100%;
}

.nav-logo-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 2;
}

.nav-logo-div p {
    margin-left: 10px;
    font-size: 1.4rem;
    line-height: 2;
}

.logo {
    max-width: 60px;
}

.nav-links-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-li {
    margin-right: 20px;
    display: inline-block;
}

.nav-li a {
    color: var(--color-lightest);
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-li a:hover {
    color: var(--color-light);
}

.notification-bell-container {
    display: flex;
    margin-right: 10px;
}

.notifications-link {
    padding: 5px 0 0 0;
    margin: 0;
}

.notification-bell {
    width: 24px;
    margin: 0;
}

.notification-bell-p {
    color: darksalmon;
}

.nav-profile-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.profile-pic {
    max-height: 30px;
    max-width: 30px;
    width: 100%;
    height: 100%;
    margin-right: 5px;
    border-radius: 50%;
    object-fit: cover;
}

#dropdownMenuButton {
    min-width: 100px;
    max-width: 260px;
}

.expand-profile-button {
    color: var(--color-lightest);
    font-size: 0.9rem;
    border: none;
}

.dropdown-menu, .dropdown-item {
    background-color: var(--main-color);
    color: var(--color-light);
}

.dropdown-item:hover {
    color: var(--color-lightest);
    background-color: var(--secondary-color);
}

#confirm-logout {
    min-width: 100%;
    margin-top: 20px;
    background-color: var(--error-message-light);
    border: none;
}

#confirm-logout:hover {
    background-color: var(--error-message-color);
}

#confirm-logout:active {
    border: none;
}

.profile-pic {
    background-color: var(--color-lightest);
}

.toggle-display-600-on {
    display: none;
}

@media screen and (max-width: 600px) {
    .logo {
        width: 35px;
    }

    .nav-logo-div {
        justify-content: flex-start;

    }

    .nav-logo-div p {
        display: none;
        font-size: 0.8rem;
    }

    .nav-profile-div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        /*width: 100%;*/
    }

    .nav-li a {
        margin: 0;
        color: var(--color-lightest);
        text-decoration: none;
        font-size: 0.9rem;
    }

    .notification-bell {
        width: 18px;
    }

    .profile-info-span {
        display: none;
    }

    .notification-bell-p {
        font-size: 0.7rem;
    }

    .navbar-wrapper {
        position: fixed;
        width: 100%;
        top: 0px;
        z-index: 99;
        margin-bottom: 100px;
    }
    .mg-top {
        margin-top: 50px;
    }

    .toggle-display-600-on {
        display: block;
    }

    .toggle-display-600-off {
        display: none;
    }
}

