.register-content-strip {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url('/static/images/backgrounds/restaurant-background-002.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

.register-content-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color-transparent);
    width: 100%;
    height: 100%;
}

.register-form {
    max-width: 600px;
    width: 80%;
    padding: 20px;
    background-color: var(--main-color-transparent);
    border-radius: 10px;
}

.form-header {
    font-size: large;
}

.button-div {
    display: inline;
}

.errorlist {
    background-color: var(--error-message-color);
    border-radius: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}