@import "staticfiles/css/colors.css";

.add-place-content-strip {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: var(--color-lightest);
    color: var(--main-color);
}

.add-place-content-wrap {
    max-width: 1200px;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    margin: 20px 0 20px 0;
    background-color: var(--color-lightest);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    margin-bottom: 20px;
    min-height: 50px;
    color: var(--color-lightest);
    border-radius: 5px;
}

.select-place-header {
    text-align: center;
    font-size: large;
}

.restaurant-div {
    background-color: var(--secondary-color);
    color: var(--color-lightest);
    border-radius: 5px;
}

.restaurant-div:hover {
    background-color: var(--color-hover-on-create-cards);
    box-shadow: 0 0 10px var(--main-color);
}

.hotel-div {
    background-color: var(--secondary-color);
    border-radius: 5px;
    color: var(--color-lightest);
}

.hotel-div:hover {
    background-color: var(--color-hover-on-create-cards);
    box-shadow: 0 0 10px var(--main-color);
}

.create-button-div {
    display: flex;
    width: 100%;
    border-radius: 5px;
}

.create-button-div a {
    width: 100%;
}



@media screen and (max-width: 600px) {
    .add-place-content-wrap {
        box-shadow: none;
        border-radius: 0px;
    }
}