.place-details-content-strip {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-lightest);
}

.place-details-content-wrap {
    display: flex;
    flex-wrap: wrap;
    color: var(--main-color);
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
}