.place-edit-content-strip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-lightest);
    color: var(--main-color);
}

.place-edit-content-wrap {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: var(--main-color);
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

.place-edit-card {
    width: 100%;
    max-width: 680px;
    margin: 20px 0 40px 0;
    border: none;
    background-color: var(--secondary-color);
}

.place-edit-photo-container {
    width: 100%;
    background-color: indianred;
    border-radius: 5px;
}

.place-edit-photo {
    width: 100%;
    max-height: 400px;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.place-edit-information-container {
    background-color: var(--main-color);
    color: var(--color-lightest);
    width: 100%;
    padding: 20px;
}

.place-edit-form-header {
    font-size: 1.5rem;
}

.place-edit-form-paragraph {
    color: grey;
    margin-bottom: 40px;
    border-bottom: 1px dashed rgba(60, 60, 60, 0.8);
}

.place-edit-card-body {
    background-color: var(--secondary-color);
    color: var(--color-lightest);
    border-radius: 0 0 5px 5px;
}

.place-edit-button-submit-container {
    width: 100%;
}

.place-edit-save-button {
    margin: 10px 0 10px 0;
    width: 100%;
    background-color: var(--button-green);
    color: var(--color-lightest);
    min-height: 2rem;
    border-radius: 5px;
    border: none;
}

.place-edit-save-button:hover {
    background-color: var(--button-green-hover);
}

.place-edit-save-button:focus {
    outline: none;
}

.restaurant-add-form-button-back-container {
    width: 100%;
}