{% extends 'base.html' %}
{% load static %}

{% block title %}
    Confirm Ownership
{% endblock %}


{% block content %}

    <div class="booking-verify-content-strip">

        <div class="booking-verify-content-wrap">

            {{ object }}

            <div class="verify-form-container">
                <form action="{% url 'verify ownership' object.slug%}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="code">
                    <button type="submit">Verify</button>

                </form>

            </div>

        </div>

    </div>

{% endblock %}