{% extends 'base.html' %}
{% load static %}

{% block title %}
    Book Hotel
{% endblock %}


{% block content %}

    <div class="book-hotel-content-strip">

        <div class="book-hotel-content-wrap">

            <div class="book-hotel-header-container">
                <h2>Make a reservation for {{ hotel.name }} hotel in {{ hotel.city }} city, {{ hotel.country }}</h2>
                <p><small class="text-muted">Please fill out all form fields.</small></p>
            </div>

            <div class="book-hotel-form-container">
            <!-- Hotel form starts -->
            <form class="row g-3" action="{% url 'book hotel' place_slug %}" method="POST">

                {% csrf_token %}

                <div class="col-md-6">
                    <input type="text" class="form-control distanced" id="id_{{ form.first_name.name }}"
                            placeholder="Enter your first name" name="{{ form.first_name.name }}"
                            {% if form.cleaned_data.first_name %}value="{{ form.cleaned_data.first_name }}"{% endif %}>
                    {{ form.first_name.errors }}
                </div>

                <div class="col-md-6">
                    <input type="text" class="form-control distanced" id="id_{{ form.last_name.name }}"
                            placeholder="Enter your last name" name="{{ form.last_name.name }}"
                            {% if form.cleaned_data.last_name %}value="{{ form.cleaned_data.last_name }}"{% endif %}>
                    {{ form.last_name.errors }}
                </div>

                <div class="col-12">
                    <input type="email" class="form-control distanced" id="id_{{ form.email.name }}"
                           placeholder="Email address" name="{{ form.email.name }}"
                           {% if form.cleaned_data.email %}value="{{ form.cleaned_data.email }}"{% endif %}>
                    {{ form.email.errors }}
                </div>

                <div class="col-12">
                    <select id="id_{{ form.rooms.name }}" class="form-control distanced"
                            name="{{ form.rooms.name }}">
                        {% for i in rooms_range %}
                            <option value="{{ i }}">{{ i }} {% if i == 1 %}Room{% else %}Rooms{% endif %}</option>
                        {% endfor %}
                    </select>
                    {{ form.rooms.errors }}
                </div>

                <div class="col-md-6">
                    <label for="id_{{ form.date.name }}">Date</label>
                    <input type="date" class="form-control distanced" id="id_{{ form.date.name }}"
                            placeholder="Select Date" name="{{ form.date.name }}">
                    {{ form.date.errors }}
                </div>

                <div class="col-md-4">
                    <label for="id_{{ form.nights.name }}">Nights</label>
                    <select id="id_{{ form.nights.name }}" class="form-control distanced"
                            name="{{ form.nights.name }}">
                        {% for i in night_range %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-2">

                    <select hidden="hidden" name="hotel" id="id_{{ form.hotel.name }}" name="{{ form.hotel.name }}">
                        <option value="">---------</option>
                        <option selected value="{{ hotel.pk }}">{{ hotel.name }}</option>
                    </select>
                </div>

                <div class="col-12 book-button-container">
                    <button type="submit" class="btn btn-light distanced book-button">Book Hotel</button>
                </div>

            </form>
            <!-- hotel form ends -->

            </div>

        </div>

    </div>

{% endblock %}