{% extends 'base.html' %}
{% load static %}

{% block title %}
    Book Restaurant
{% endblock %}


{% block content %}

    <div class="book-restaurant-content-strip">

        <div class="book-restaurant-content-wrap">

            <div class="book-restaurant-header-container">
                <h2>Make a reservation for {{ restaurant.name }} restaurant in {{ restaurant.city }}</h2>
                <p><small class="text-muted">Please fill out all form fields.</small></p>
            </div>

            <!-- Form starts from here -->
            <div class="book-restaurant-form-container">
            <form class="row g-3" action="{% url 'book restaurant' place_slug %}" method="POST">

                {% csrf_token %}

                <div class="col-md-6">
                    <input type="text" class="form-control distanced" id="id_{{ form.first_name.name }}"
                            placeholder="Enter your first name" name="{{ form.first_name.name }}"
                            {% if form.cleaned_data.first_name %}value="{{ form.cleaned_data.first_name }}"{% endif %}>
                    {{ form.first_name.errors }}
                </div>

                <div class="col-md-6">
                    <input type="text" class="form-control distanced" id="id_{{ form.last_name.name }}"
                            placeholder="Enter your last name" name="{{ form.last_name.name }}"
                            {% if form.cleaned_data.last_name %}value="{{ form.cleaned_data.last_name }}"{% endif %}>
                    {{ form.last_name.errors }}
                </div>

                <div class="col-12">
                    <input type="email" class="form-control distanced" id="id_{{ form.email.name }}"
                           placeholder="Email address" name="{{ form.email.name }}"
                           {% if form.cleaned_data.email %}value="{{ form.cleaned_data.email }}"{% endif %}>
                    {{ form.email.errors }}
                </div>

                <div class="col-12">
                    <input type="number" class="form-control distanced" id="id_{{ form.people.name }}"
                           placeholder="People count, max 6" name="{{ form.people.name }}"
                           {% if form.cleaned_data.people %}value="{{ form.cleaned_data.people }}"{% endif %}>
                    {{ form.people.errors }}
                </div>

                <div class="col-md-6">

                    <input type="date" class="form-control distanced" id="id_{{ form.date.name }}"
                            placeholder="Select Date" name="{{ form.date.name }}">
                    {{ form.date.errors }}
                </div>

                <div class="col-md-4">

                    <select id="id_{{ form.booking_time.name }}" class="form-control distanced"
                            name="{{ form.booking_time.name }}">
                      <option selected>Choose...</option>
                      <option>...</option>
                    </select>
                </div>

                <div class="col-md-2">

                    <select hidden="hidden" name="restaurant" id="id_{{ form.restaurant.name }}" name="{{ form.restaurant.name }}">
                        <option value="">---------</option>
                        <option selected value="{{ restaurant.pk }}">{{ restaurant.name }}</option>
                    </select>
                </div>

                <div class="col-12 book-button-container">
                    <button type="submit" class="btn btn-outline-light distanced book-button">Book Restaurant</button>
                </div>

            </form>
            </div>
            <!-- finish form -->


        </div>


    </div>

    <!-- adding the const so restaurant times is passed to the external JS script -->
    <script>
        const restaurantTimes = {{ restaurant_times|safe }};
    </script>

    <script src="{% static 'js/fill_booking_time.js' %}"></script>


{% endblock %}

