{% extends 'base.html' %}
{% load static %}
{% load create_stars %}

{% block title %}
    Edit review
{% endblock %}


{% block content %}

    <div class="review-edit-content-strip mg-top">


        <div class="review-edit-content-wrap">

            <div class="review-edit-header-container">
                <h1> Edit your review for {{ place.name }}</h1>
            </div>

        </div>

    </div>

    <div class="review-edit-content-strip">

        <div class="review-edit-content-wrap no-shadow">

            <div class="review-write-card-container">

                <!-- Card for place starts here -->
                <div class="card mb-3 review-write-card">

                    <img class="card-img-top place-image" src="{{ place.photo.url }}" alt="Card image cap">
                    <div class="card-body review-write-card-body">

                        <div class="place-card-header-container">
                            <h5 class="card-title">{{ place.name }}</h5>
                            {% create_stars place %}
                        </div>

                        <p class="card-text">{{ place.description }}</p>
                        <p class="card-text">Country: {{ place.country }}</p>
                        <p class="card-text">City: {{ place.city }}</p>

                        <!-- Created at, and link to owners more places -->
                        <div class="review-write-card-more-info-container">
                            <p class="card-text"><small class="text-muted">Member since: {{ place.created_at|date:'M d, Y' }}</small></p>

                        </div>
                    <!-- control buttons -->

                        <!-- container for review write form -->
                        <div class="review-write-review-container">

                            <form action="{% url 'review edit' place.slug object.pk %}" method="POST" enctype="multipart/form-data">

                                {% csrf_token %}
                                <!-- Place instance and User instance -->
                                <select hidden="hidden"  name="hotel" id="id_hotel">
                                  <option selected="selected" value="{{ place.pk }}">{{ place }}</option>
                                </select>

                                <select hidden="hidden"  name="restaurant" id="id_restaurant">
                                  <option selected="selected" value="{{ place.pk }}">{{ place }}</option>
                                </select>

                                <select hidden="hidden" name="user" id="id_user">
                                  <option selected="selected" value="{{ request.user.pk }}">{{ request.user }}</option>
                                </select>

                                <!-- Top container for user photo and rating -->
                                <div class="user-info-and-rating-container">
                                    <div class="user-info-container">
                                        <img class="user-profile-photo-thumbnail"
                                             src="{% if user.profile.profile_picture %}{{ user.profile.profile_picture.url }}{% else %}{% static 'images/pngs/user-profile.png' %}{% endif %}"
                                             alt=""
                                        >
                                        <p class="user-profile-name">{{ user.profile.get_name }}</p>
                                    </div>

                                    <select class="form-control rating-choice" aria-label="Select Rating" name="{{ form.rating.name }}">
                                      <option selected="selected" value="{{ object.rating }}">{{ object.rating }}</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                    </select>
                                </div>
                                <!-- top container end -->

                                <textarea
                                        class="form-control review-comment-area"
                                        name="{{ form.comment.name }}"
                                        id="{{ form.comment.name }}"
                                        cols="30" rows="10"
                                        placeholder="Enter your comment..."
                                >{% if form.comment.value %}{{ form.comment.value }}{% endif %}</textarea>

                                <div class="upload-photo-container">
                                    {% if object.review_photo %}
                                        <span>Change Photo</span>
                                    {% else %}
                                        <span>Upload Photo</span>
                                    {% endif %}
                                    <input class="form-control form-control-sm file-upload-field" id="formFileSm" type="file" name="{{ form.review_photo.name }}">
                                </div>

                                {{ form.errors }}

                                <div class="submit-review-button-container">
                                    <button class="create-hotel-button" type="submit">Submit</button>
                                </div>

                            </form>

                                <form action="{% url 'review delete' place.slug object.pk%}" method="POST">
                                    {% csrf_token %}

                                    <button class="btn btn-dark delete-comment-button" type="submit">Delete comment
                                        <img class="review-delete-image" src="{% static 'images/pngs/delete white.png' %}" alt="*" width="25px">
                                    </button>
                                </form>

                                <button id="go-back-button" class="go-back-button" href="{% url 'profile details' place.owner.pk  %}#owner-places">
                                    Go Back
                                </button>

                        </div>




                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="{% static 'js/button-back.js' %}"></script>

{% endblock %}

