{% extends 'base.html' %}
{% load static %}

{% block title %}
    Write review
{% endblock %}


{% block content %}

    <div class="review-write-content-strip dark-bg">

        <div class="review-write-content-wrap dark-bg">

            <div class="review-write-header-container">
                <h1> Write review</h1>
            </div>

            <div class="review-write-card-container dark-bg">

                <h2 style="color: salmon">{{ place }}</h2>
                <h2 style="color: wheat">{{ place.type }}</h2>

                <!-- Card for place starts here -->
                <div class="card mb-3 review-write-card">
                    <img class="card-img-top place-image" src="{{ place.photo.url }}" alt="Card image cap">
                    <div class="card-body review-write-card-body">
                        <div class="place-card-header-container">
                            <h5 class="card-title">{{ place.name }}</h5>
                            <p class="card-text">Rating: {{ place.rating }}/5</p>
                        </div>

                        <p class="card-text">{{ place.description }}</p>
                        <p class="card-text">Country: {{ place.country }}</p>
                        <p class="card-text">City: {{ place.city }}</p>

                        <!-- Created at, and link to owners more places -->
                        <div class="review-write-card-more-info-container">
                            <p class="card-text"><small class="text-muted">Member since: {{ place.created_at|date:'M d, Y' }}</small></p>

                            <a style="width: 40%;" class="btn btn-light" href="{% url 'profile details' place.owner.pk  %}#owner-places">
                                Owners Other Places
                            </a>

                            <a style="width: 45%;" class="btn btn-light" href="{% url 'profile details' place.owner.pk  %}#owner-places">
                                Owners Other Places
                            </a>
                        </div>
                    <!-- control buttons -->
                        <!-- container for review write form -->
                        <div class="review-write-review-container">
                            <form action="{% url 'review write' place.slug%}" method="POST" enctype="multipart/form-data">

                                {% csrf_token %}
                                {{ form.errors }}

                                {{ form.user }}
                                {{ form.hotel }}
                                {{ form.rating }}

{#                                <input type="text" name="{{ form.user.name }}" hidden="hidden" value="{{ user }}">#}
{#                                <input type="text" name="{{ form.restaurant.name }}" hidden="hidden" value="{{ place }}">#}
{#                                <input type="text" name="{{ form.hotel.name }}" hidden="hidden" value="{{ place }}">#}

                                <!-- Top container for user photo and rating -->
                                <div class="user-info-and-rating-container">
                                    <div class="user-info-container">
                                        <img class="user-profile-photo-thumbnail" src="{{ request.user.profile.profile_picture.url }}" alt="">
                                        <p class="user-profile-name">{{ user.profile.get_name }}</p>
                                    </div>
                                    
                                <select class="form-control rating-choice" aria-label="Select Rating">
                                  <option selected>Select Rating</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                </select>
                                </div>
                                <!-- top container end -->

                                <textarea class="form-control" name="{{ form.comment.name }}" id="{{ form.comment.name }}" cols="30" rows="10" placeholder="Enter your comment..."></textarea>

                                <div class="upload-photo-container">
                                    <span>Upload Photo</span>
                                    <input class="form-control form-control-sm file-upload-field" id="formFileSm" type="file">
                                </div>

                                <div class="submit-review-button-container">
                                    <button class="btn btn-light review-submit-button" type="submit">Submit</button>
                                </div>



                            </form>

                        </div>




                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

