@import "../colors.css";

.booking-manage-content-strip {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: var(--color-lightest);
    color: var(--color-background-lightest-dark);
}

.booking-manage-content-wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    padding: 10px;
    margin: 20px 0 20px 0;
    text-align: center;
}

.booking-manage-content-wrap p {
    width: 100%;
}

.booking-manage-content-wrap h2 {
    font-size: 1.3rem;
    font-weight: 400;
}

.booking-manage-form-container {
    width: 100%;
    text-align: left;

}


.booking-manage-form-container {
    margin: 10px 0 10px 0;
    width: 100%;
    font-size: 0.9rem;
    overflow-y: auto;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--color-lightest);
    border-radius: 5px;
    box-shadow: 1px 3px 18px var(--main-color);
}

