{% extends 'base.html' %}
{% load static %}

{% block title %}
    Place Delete
{% endblock %}

{% block content %}

    <div class="delete-profile-content-strip mg-top">

        <div class="delete-profile-content-wrap">

            <form action="{% url 'place delete' object.slug %}" method="POST" class="profile-delete-form">
                {% csrf_token %}
                <h2>Are you sure you want to delete {{ object.name }}?</h2>
                <p>Deleting this place will also delete all the relative information attached to it.</p>
                <div class="button-div">
                    <button class="btn btn-danger" id="delete-button01" type="submit">Confirm Deletion</button>
                    <a class="cancel-button btn btn-success" #id="cancel-button01" href="{% url 'profile details' request.user.pk %}" >Cancel Deletion </a>
                </div>

            </form>

        </div>
    </div>

{% endblock %}

