{% extends 'base.html' %}
{% load static %}

{% block title %}
    Add Place
{% endblock %}

{% block content %}
    <div class="add-place-content-strip">

        <h1 class="add-place-header">Creating a New Place</h1>

        <div class="add-place-content-wrap no-shadow">

            <div class="header-container">
                <!-- Place select header -->
                <h2 class="select-place-header">Select the type of business you would like to create.</h2>

            </div>

            <div class="row">
                <!-- Restaurant select card -->
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="restaurant-div">
                        <div class="card-body">
                            <h5 class="card-title">Restaurant</h5>
                            <p class="card-text">Information you would need to provide:</p>
                            <ul>
                                <li>Restaurant Name</li>
                                <li>Country</li>
                                <li>City</li>
                                <li>Address</li>
                                <li>Opening | Closing time</li>
                                <li>Available seats</li>
                            </ul>
                            <div class="create-button-div">
                                <a href="{% url 'restaurant add' %}" class="create-button btn btn-outline-dark">Create Restaurant</a>
                            </div>                        </div>
                    </div>
                </div>


                <div class="col-sm-6">
                    <!-- Hotel select card -->
                    <div class="hotel-div">
                        <div class="card-body">
                            <h5 class="card-title">Hotel</h5>
                            <p class="card-text">Information you would need to provide.</p>
                            <ul>
                                <li>Hotel Name</li>
                                <li>Country</li>
                                <li>City</li>
                                <li>Address</li>
                                <li>Check In | Check Out times</li>
                                <li>Available rooms</li>
                            </ul>
                            <div class="create-button-div">
                                <a href="{% url 'hotel add' %}" class="create-button btn btn-outline-dark">Create Hotel</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>


{% endblock %}