{% extends 'base.html' %}
{% load static %}

{% block title %}
    Create Restaurant
{% endblock %}

{% block content %}

    <div class="restaurant-add-content-strip mg-top">

        <div class="restaurant-add-content-wrap">

            <div class="restaurant-add-form-container">
                <!-- Form starts from here -->
                <form action="{% url 'restaurant add' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-header-container">
                        <h2>Restaurant Creation Form</h2>
                        <p class="card-text">
                            <small class="text-muted">Please enter all relative information about your restaurant in the form.</small>
                            <br>
                            <small class="text-muted">All fields other than "Postcode" are required</small>
                        </p>
                    </div>

                    <!-- Place Name -->
                    <div class="form-floating mb-3">
                        <label for="floatingInput" class="form-label">Name</label>
                        <input type="text" class="form-control" id="floatingInput" name="{{ form.name.name }}"
                               placeholder="Restaurant Name">
                        <p>{{ form.errors.name }}</p>
                    </div>

                    <!-- File input -->
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Select Photo</label>
                        <input class="form-control" type="file" id="formFile" name="{{ form.photo.name }}"
                                accept="image/*">
                    </div>

                    <!-- Place description -->
                    <div class="form-floating mb-3">
                        <label  for="id_{{ form.description.name }}">Description:</label>
                        <textarea  class="form-control"  name="{{ form.description.name }}"
                                    id="id_{{ form.description.name }}"
                                    placeholder="Description"
                                    maxlength="250"></textarea>
                        <!-- The tag has to close straight after, because it adds blank spaces to the end -->
                        <p>{{ form.errors.description }}</p>
                    </div>

                    <!-- Open time -->
                    <div class="form-floating mb-3">
                        <label for="floatingInput" class="form-label">Opening Time</label>
                        <input type="text" class="form-control" id="floatingInput" name="{{ form.opening_time.name }}"
                               placeholder="Opening Time ex: 10:00">
                        <p>{{ form.errors.opening_time }}</p>
                    </div>

                    <!-- Close time -->
                    <div class="form-floating mb-3">
                        <label for="floatingInput" class="form-label">Closing Time</label>
                        <input type="text" class="form-control" id="floatingInput" name="{{ form.closing_time.name }}"
                               placeholder="Closing Time ex: 23:00">
                        <p>{{ form.errors.closing_time }}</p>
                    </div>

                    <!-- Available seats -->
                    <div class="form-floating mb-3">
                        <label for="floatingInput" class="form-label">Available Seats</label>
                        <input type="text" class="form-control" id="floatingInput" name="{{ form.available_seats.name }}"
                               placeholder="Available Seats">
                        <p>{{ form.errors.available_rooms }}</p>
                    </div>

                    <!-- Country -->
                    <div class="form-floating mb-3">
                        <label for="floatingInput" class="form-label">Country</label>
                        <input type="text" class="form-control" id="floatingInput" name="{{ form.country.name }}"
                               placeholder="Country">
                        <p>{{ form.errors.country }}</p>
                    </div>

                    <!-- City -->
                    <div class="form-floating mb-3">
                        <label for="floatingInput" class="form-label">City</label>
                        <input type="text" class="form-control" id="floatingInput" name="{{ form.city.name }}"
                               placeholder="City">
                        <p>{{ form.errors.city }}</p>
                    </div>

                    <!-- Address -->
                    <div class="form-floating mb-3">
                        <label for="floatingInput" class="form-label">Address</label>
                        <input type="text" class="form-control" id="floatingInput" name="{{ form.address.name }}"
                               placeholder="Address">
                        <p>{{ form.errors.address }}</p>
                    </div>

                    <!-- POSTCODE -->
                    <div class="form-floating mb-3">
                        <label for="floatingInput" class="form-label">Postcode</label>
                        <input type="text" class="form-control" id="floatingInput" name="{{ form.post_code.name }}"
                               placeholder="Postcode">
                        <p>{{ form.errors.post_code }}</p>
                    </div>

                    <div class="restaurant-add-form-button-submit-container">
                        <button type="submit" class="create-restaurant-button">Create Restaurant</button>
                    </div>

                    <div class="restaurant-add-form-button-back-container">
                        <button id="go-back-button" class="go-back-button">Go Back</button>
                    </div>

                </form>
            </div>
            <!-- Closing form container -->

        </div>
    </div>

    <script src="{% static 'js/button-back.js' %}"></script>
{% endblock %}