{% extends 'base.html' %}
{% load static %}
{% load browse_place_card_tags %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}

    <!-- Content strip takes 100% of the available width, CSS is in base, if you want to add custom content strip
         with different background create a new one and add css in the new file -->

    <div class="index-content-strip mg-top">

        <!-- Header image container -->
        <div class="index-background-image-container">
            <img class="index-background-image" src="{% static 'images/backgrounds/kitchen-background.jpg' %}" alt="img">

            <div class="index-background-image-overlay">
                <h2 class="index-background-image-text">
                    DISCOVER PLACES
                </h2>
            </div>
        </div>

        <!-- Browse buttons to take you to browse list display page -->
        <div class="index-content-wrap no-shadow">
            <a class="browse-place-button" href="{% url 'browse' %}?place=restaurants">Browse Restaurants</a>
            <a class="browse-place-button" href="{% url 'browse' %}?place=hotels">Browse Hotels</a>
        </div>
    </div>

    <!-- New content strip with different background -->
    <div class="index-content-strip dark-bg">

        <!-- Header container -->
        <div class="index-page-list-header-container">
            <h2 class="index-page-list-header">
                Latest additions
            </h2>
        </div>

        <!-- Display last added places here -->
        <div class="index-content-wrap dark-bg">

            <!-- Generating the display cards through the template tag -->
            {% browse_place_cards object_list request users_favourites %}
        </div>

    </div>

{% endblock %}
