:root {
    --main-color: rgb(13, 27, 42);
    --secondary-color: rgb(27, 38, 59);
    --secondary-color-hover: rgb(12, 32, 62);
    --color-dark: rgb(65, 90, 119);
    --color-light: rgb(119, 141, 169);
    --color-lightest: rgb(224, 225, 221);
    --color-lightest-transparent: rgba(224, 225, 221, 0.2);
    --main-color-transparent: rgba(13, 27, 42, 0.8);
    --error-message-color: rgba(128, 0, 0, 0.4);
    --error-message-light: rgba(255, 179, 179, 0.4);
    --button-green: rgba(51, 77, 0, 1);
    --button-green-hover: rgba(34, 51, 0, 1);
    --button-red: rgba(77, 0, 0, 1);
    --button-red-hover: rgba(51, 0, 0, 1);
    --color-hover-on-create-cards: rgb(0, 96, 128);
    --color-background-lightest-dark: rgb(0, 66, 77);
    --color-gray-font: rgba(101, 101, 101);
    --color-gray-font-iddle: rgba(132, 132, 132);
    --color-light-review-header: rgb(0, 153, 153);
}
