.form-control {
    background-color: var(--secondary-color);
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0;
    color: var(--color-lightest);
}

.form-control:active {
    background-color: var(--main-color-transparent);
    border: none;
}

.form-control:focus {
    background-color: var(--main-color-transparent);
    border-radius: 5px;
    color: var(--color-lightest);
    border: none;
    box-shadow: none;
}
